<div class="contenedor-detalle">
    <button routerLink="/videojuegos" class="btn-volver">← Volver</button>

    <div *ngIf="videojuego" class="card-grande">
        <img [src]="videojuego.imagen" [alt]="videojuego.nombre" class="imagen-card" />

        <div class="overlay-contenido">
            <h2 class="titulo-juego">{{ videojuego.nombre }}</h2>
            <button class="btn-entrar-sala">Entrar a sala</button>
        </div>
    </div>

    <div *ngIf="videojuego" class="contenedor-info">
        <div class="card-description">
            <div class="card-descripcion">
                <h2 class="titulo-card">Descripción</h2>
                <p>{{ videojuego.descripcion }}</p>
            </div>
            <div *ngIf="videojuego" class="botones-contenedor">
                <button class="btn-guias">Guías y tutoriales</button>
                <button class="btn-videos">Videos</button>
            </div>
        </div>



        <div class="card-informacion">
            <h2 class="titulo-card">Información de Juego</h2>

            <div class="info-item">
                <h3>Género</h3>
                <p>{{ videojuego.genero }}</p>
            </div>

            <div class="info-item">
                <h3>Plataformas</h3>
                <div class="plataformas-list">
                    <span *ngFor="let plataforma of videojuego.plataformas" class="plataforma-tag">
                        {{ plataforma }}
                    </span>
                </div>
            </div>

            <div class="info-item">
                <h3>Calificación</h3>
                <div class="calificacion-info">
                    <span *ngFor="let star of obtenerEstrellas()" class="estrella-info">{{ star }}</span>
                    <span class="puntuacion-info">({{ videojuego.calificacion }}/5)</span>
                </div>
            </div>

            <div class="info-item">
                <h3>Jugadores Online</h3>
                <p class="jugadores-online">{{ videojuego.jugadoresOnline | number }}</p>
            </div>
        </div>
    </div>



</div>